Header{
	background-color:#003399;
	color:white;
}
img{
	padding-top: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #2978A0; color:white;
	}
